<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<head>
    <meta charset="UTF-8">
    <title>Taco Cloud</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
    <h1>당신만의 타코를 디자인하세요!</h1>
    <img th:src="@{/images/TacoCloud.png}" />

    <form method="POST" th:object="${taco}">
        <span class="validationError"
              th:if="${#fields.hasErrors('ingredients')}"
              th:errors="*{ingredients}">Ingredient Error</span>

        <div class="ingredient-group" id="wraps">
            <h3>쌈 선택:</h3>
            <div th:each="ingredient : ${wrap}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span>
            </div>
        </div>
        <div class="ingredient-group" id="proteins">
            <h3>고기 선택:</h3>
            <div th:each="ingredient : ${protein}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span>
            </div>
        </div>
        <div class="ingredient-group" id="cheeses">
            <h3>치즈 선택:</h3>
            <div th:each="ingredient : ${cheese}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span>
            </div>
        </div>
        <div class="ingredient-group" id="veggies">
            <h3>채소 선택:</h3>
            <div th:each="ingredient : ${veggies}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span>
            </div>
        </div>
        <div class="ingredient-group" id="sauces">
            <h3>소스 선택:</h3>
            <div th:each="ingredient : ${sauce}">
                <input name="ingredients" type="checkbox" th:value="${ingredient.id}" />
                <span th:text="${ingredient.name}">INGREDIENT</span>
            </div>
        </div>

        <h3>디자인 된 타코에 이름을 지어주세요:</h3>
        <input type="text" th:field="*{name}" />
        <span th:text="${#fields.hasErrors('name')}">XXX</span>
        <span class="validationError"
              th:if="${#fields.hasErrors('name')}"
              th:errors="*{name}">Name Error</span>

        <button>타코 디자인 완료</button>
    </form>
</body>
</html>